@tailwind base;
@tailwind components;
@tailwind utilities;

.moon {
    fill:hsl(137, 72.0%, 94.0%)!important;
}
/* body * {
    @apply transition-colors duration-2000;
} */


.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom:60px solid #6C6;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
    position: absolute;
    top: -60px;

    
}

.hex {
    margin-top: 60px;
    width: 104px;
    height: 60px;


}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -60px;
    border-top: 60px solid #6C6;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
}

.text-transparent{
    color: transparent;
}